version: 2
updates:
  # Enable version updates for python
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"

  # Enable version updates for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
